img{
	width:100px;
}


footer{
	background: #333;
	color: #fff;
	padding: 1% 4%
}


footer li{
	float:left;
	padding: 0 10px 0 10px;
	list-style: none

}

footer a {
	color: #fff;

}

footer p{float: right;}


